<div class="contact-overlay overlay px-2 py-5">
  <div class="overlay-card py-4 px-3 px-md-4 my-auto color-invert">
    <h3>Contacto via Email</h3>
    <p>I love email. Leo todo lo que llega, y respondo si es necesario.</p>
    <form action="/thanks" name="contact" netlify-honeypot="pot" netlify>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
      </div>
      <div class="form-group" style="display: none;">
        <label for="pot">No llenar:</p>
        <input class="form-control" name="pot">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="comentario">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" placeholder="" rows="5 required"></textarea>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end align-items-center">
          <a href="#close">Cancelar</a>
          <button type="submit" class="btn btn-primary ml-3">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
