<ul class="post-list list-unstyled">
    {% for post in site.posts %}
    {% assign month = post.date | date: '%m' | minus: 1%}
    <li class="post-list-item row mb-2">
      <div class="col-lg-8 order-2 order-lg-1">
        <a href="{{ post.url }}" class="post-list-link" title="Leer {{ post.title }}">
          {{ post.title }}
        </a>
      </div>
      <div class="col-lg-4 order-1 order-lg-2">
        <span class="post-list-date font-weight-normal d-block text-left text-lg-right">{{ site.data.months.names[month] }} {{ post.date | date: "%d, %Y" }}</span>
      </div>
    </li>
    {% endfor %}
</ul>


<!-- <span class="post-list-date col-lg-3 text-lg-right m-0">{{ site.data.months.names[month] }} {{ post.date | date: "%d, %Y" }}</span>
        <a href="{{ post.url }}" class="post-list-link col-lg-9 m-0" title="Leer {{ post.title }}">{{ post.title }}</a> -->