html{
  margin-top: 0 !important;
}

#wp-toolbar{
  height: auto !important;
}

#wpadminbar {
  border-radius: 5px;
  top: 5px !important;
  left: 5px !important;
  width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
  transition: .2s all;
  overflow: hidden;
  li{
    float: none !important;
  }
  .ab-sub-wrapper{
    left: 160px;
    background: #32373c;
    top: 0;
  }
}

#wpadminbar:hover {
  width: 160px !important;
  height: auto !important;
  transition-delay: 0s;
  overflow: visible;
}

#wp-admin-bar-wp-logo,
#wp-admin-bar-customize,
#wp-admin-bar-comments,
#wp-admin-bar-updates,
#wp-admin-bar-search{
  display: none !important;
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
  position: static;
  display: block;
  margin-top: 20px;
}

#wpadminbar #wp-admin-bar-new-content{
  .ab-sub-wrapper{
    position: static !important;

    .ab-item{
      display: none !important;
    }

    #wp-admin-bar-new-post,
    #wp-admin-bar-new-media,
    #wp-admin-bar-new-page,
    #wp-admin-bar-new-user{
      display: none !important;;
    }

  }
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
  margin-left: 0 !important;

  .username, .display-name{
    display: none !important;
  }
}

#wpadminbar #wp-admin-bar-user-actions.ab-submenu {
  padding: 6px 0 12px 52px !important;
  position: relative;
  height: 48px !important;
  #wp-admin-bar-user-info{
    position: absolute;
    top: 6px;
    left: 6px;
  }
  img{
    border-radius: 50%;
    height: 42px;
    margin-left: -5px;
  }
}

#wp-admin-bar-my-account > .ab-item{
    display: none !important;
}
#wpadminbar .ab-top-secondary {
  float: none !important;
}

#wp-admin-bar-top-secondary{
  margin-top: auto !important;
}

#wp-admin-bar-site-name .ab-sub-wrapper{
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

#wpadminbar #wp-admin-bar-site-name>.ab-item:after {
  content: " Admin";
}