@import "_bs-grid";

// VARIABLES
$base-font-size: 20px;

$color-accent: #FF5B65;
$color-white : #fff;
$color-dark: #5B5353;
$color-down: #A89091;
$color-light: #EAE1E1;

// RESET & BASE
html{
  font-size: $base-font-size;
}

body{
  margin: 0;
  padding: 0;
  color: $color-dark;
}

hr{
  margin: 0;
  height: 0;
  border: none;
  border-top: 1px solid $color-light;
}


// TYPE
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap');
body{
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin: 2rem 0 1.25rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.17rem;
  line-height: 1.282;
  margin: 2rem 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

h1, h2, h3 {
  letter-spacing: -.075rem;
}

blockquote {
  font-style: italic;
  // color: var(--color-mid);
  padding-left: 1rem;
  margin-left: 0;
  // border-left: 5px solid var(--color-lighter);
}

p {
  margin: 1rem 0;
}

.lead{
  font-size: 1.5rem;
}

small, .small{
  font-size: .75rem;
}

// IMAGES

.photo-img{
  img{
    width: 100%;
    height: auto;
  }
}

.post img{
  width: 100%;
  height: auto;
}

.wp-block-image{
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// LINKS

a{
  color: $color-accent;
  text-decoration: none;
}

// NAV

nav{
  background: $color-accent;
  color: $color-white;

  a{
    color: $color-white;
  }
}

.menu{
  list-style: none;
  padding: 0;
  & > li:not(:first-child){
    margin-left: 1rem;
  }

  .flex-break{
    display: none;
  }
}

.menu-social{
  display: flex;
  svg{
    height: 1rem;
    width: auto;
    fill: $color-white;
  }
  span{
    display: none;
  }
  li:first-child{
    + li{
      margin-left: calc(1rem - 5px);
    }
  }
}

.menu-opener{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;

  @media (max-width: 991px){
    display: flex;
  }
}

.menu-open,
.menu-close{
  background: transparent;
  width: 2rem;
  height: 2rem;
  padding-top: 2rem;
  overflow: hidden;
  display: block;
  position: relative;
}

.menu-open{
  &:after{
    content: "";
    width: 1.4rem;
    height: .25rem;
    background: $color-white;
    position: absolute;
    top: .4rem;
    left: .3rem;
    box-shadow:
      0 .5rem 0 $color-white,
      0 1rem 0 $color-white;
  }
}

.menu-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  &:before, &:after{
    content: "";
    width: 1.8rem;
    height: .25rem;
    top: 0.9rem;
    left: 0.1rem;
    background: $color-white;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(135deg);
  }

  @media (min-width: 992px){
    display: none;
  }
}

.menu-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: .1s ease-out all;

  @media (max-width: 991px){
    position: fixed;
    top: 0;
    left: 100vw;
    bottom: 0;
    width: 300px;
    background: rgba(darken($color-dark, 25), .95);
    transform: scale(0);
    z-index: 10;
    padding: 3rem 2rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    opacity: 0;

    @supports(backdrop-filter: blur(128px)){
      background: rgba(darken($color-dark, 50), .3);
      backdrop-filter: blur(128px);
    }

    &.open{
      transform: translateX(-300px);
      opacity: 1;
      transition: .1s ease-in all;
    }

    .menu-main{
      flex-direction: column;

      li{
        margin: 0 0 1rem 0;
      }
    }

    .menu-social li:last-child{
      display: none;
    }
    
  }
}

// HEADER

.header-home{
  background: $color-accent;
  color: $color-white;
}



// MAIN CONTAINER

main{
  margin-bottom: 3rem;
}

// POSTS

.post{
  margin-top: 3rem;
  margin-bottom: 3rem;

  .date{
    svg{
      margin-right: 0.15rem;
      vertical-align: text-top;
      height: 20px;
      width: 18px;
      margin-top: 2px;
      fill: currentcolor;
      opacity: .9;
    }
  }

  p{
    margin-top: 0;
  }

  &.note .date{
    margin-top: .8rem;
  }

  &.single{
    margin-top: 0;
    .date{
      margin-top: 0;
    }
  }
}

.page-header{
  margin-top: 3rem;
  margin-bottom: 3rem;

  p{
    margin-bottom: 0;
  }
}

// PAGINATION

.pagination-prev-cont{
  text-align: right;
}


// FOOTER

footer{
  background: $color-light;

 .menu-social{
    svg{
      fill: $color-dark;
    }
    a:hover svg{
      fill: $color-accent;
    }
 }
}

.footer-social{
  display: flex;
  justify-content: flex-end;

  @media (max-width: 767px){
    justify-content: center;
    margin-top: 1rem;
  }
}

.footer-credits{
  @media (max-width: 768px){
    text-align: center;
  }
}

// PHOTO ARCHIVE

.photo-square{
  width: 100%;
  padding-top: 100%;
  height: 0;
  position: relative;
  background: $color-dark;
  color: $color-white;
  display: block;

  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
  }

  .photo-square-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// AUX

.muted{
  color: #A89091;
}