{% include header.html %}
<section>

  <div class="row">
    <div class="col-lg-8">
      <h1>{{ page.title }}</h1>
      {% if page.intro %}
        <div class="lead">
          <p>{{ page.intro }}</p>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
      <!-- blog posts -->
      <div class="col-lg-8">
          {{ content }}
      </div>

      <!-- sidebar -->
      <div class="col-lg-3 offset-lg-1 d-none d-lg-block">
          {% include sidebar-me.html %}
      </div>
  </div>
  
</section>
{% include footer.html %}