{% include header.html %}
<section class="posts">

  <div class="row">
    <div class="col-lg-8">
      <h1>{{ page.title }}</h1>
      {% if page.intro %}
        <div class="lead">
          <p>{{ page.intro }}</p>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
      <!-- blog posts -->
      <div class="col-lg-8">
        <div class="lead mb-5">
          {{ content }}
        </div>
      
        <h2>Notas:</h2>
          {% include post-list.html %}
      </div>

      <!-- sidebar -->
      <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
        <div class="color-invert d-flex d-lg-block align-items-center">
          {% include icons/axel.svg %}
          <p class="p-3">Hola, soy Axel y este es mi blog. <a href="/about">Acá puedes saber más de mí</a>.</p>
        </div>
      </div>
  </div>
  
</section>
{% include footer.html %}